{% extends "Manager/base.html" %}
{% block content %}
<h3>All Assigned Tasks</h3>
<table class="table table-striped">
    <tr>
        <th>Staff</th>
        <th>Title</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.staff.full_name }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.due_date }}</td>
        <td>{{ task.status }}</td>
        <td>
            <a href="{% url 'update_task' task.id %}" class="btn btn-sm btn-warning">Update</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}